/* src/index.css */
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');*/



/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

@import "tailwindcss";

/* Styles de base minimalistes */
@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply font-sans text-black dark:text-white bg-white dark:bg-black antialiased;
    }
}

/* Classe utilitaire de transition */
.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}